/*
* @Author: Administrator
* @Date:   2019-01-10 21:21:34
* @Last Modified by:   Administrator
* @Last Modified time: 2019-02-02 19:11:20
*/

.header .logo{
    left:130px;
    top:36px;
    display: block;
    position:absolute;
    font-size:36px;
    font-weight:bold;
    color:#c60023;
    text-decoration:none;
}
.header .search-con{
    padding:40px 0 30px 250px;
}

.header .search-con .search-input{
    width:550px;
    height:40px;
    line-height: 40px;
    padding-left:10px;
    font-size:15px;
    border:2px solid #c60023;
    outline: none;
}

.header .search-con .search-btn{
    position:absolute;
    height:44px;
    width:80px;
}

/* 面包屑导航  */
.crumb{
    margin-bottom:10px;
    height:50px;
    line-height:50px;
    background:#eee;
    color:#888;
    font-size:14px;
    border-top:2px solid #c60023;
}